body {
    font-family: dengxian;
    font-size: larger;
}

button {
    width: 7em;
    height: 3em;
    font-size: larger;
    border: 2px solid black;
}

button:hover {
    color: dodgerblue;
    text-decoration: underline;
}

button {
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: "dengxian";
    src: url(fonts/DENG.TTF)
}

#big_div {
    display: flex;
    gap: 10px;
}